.header {
    display: block;
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
  }
  
  .nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    height: 80px;
    margin-top: 0;
  }
  
  .nav > li {
    color: black;
  }
  
  .nav > li:hover {
    color: turquoise;
  }
  
  /* ----------------------- */
  
  .productContainer {
    display: flex;
    padding: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height:20px;
   
  }
  
  .products {
    width: 15%;
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #a73896;
     
  }
  
  .productDesc {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .add {
    padding: 5px;
    background-color: blue;
    color:azure;
  }
  
  .remove {
    background-color: rgb(60, 160, 85);
    color: rgb(97, 56, 195);
  }
  